GPSError/GPSError/GDAL/Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  id="Data" 
  targetNamespace="http://BlueToque.ca/SCTiler" 
  elementFormDefault="qualified" 
  xmlns="http://BlueToque.ca/SCTiler" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

 
  
  <xs:complexType name="Extents">
    <xs:sequence>
    </xs:sequence>
    <xs:attribute name="Top" type="xs:double" use="required" />
    <xs:attribute name="Bottom" type="xs:double" use="required" />
    <xs:attribute name="Left" type="xs:double" use="required" />
    <xs:attribute name="Right" type="xs:double" use="required" />
    <xs:attribute name="SRS" type="xs:string" use="optional" />
  </xs:complexType>
  
</xs:schema>
